/* -*- coding: utf-8 -*-
*
*  data/style.css
*
*  Copyright 2016 Christopher Lee Murray <lee.christopher.murray@gmail.com>
*                             Sam Thomas <sgpthomas@gmail.com>
*
*  This program is free software; you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation; either version 2 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program; if not, write to the Free Software
*  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
*  MA 02110-1301, USA.
*/


/* Sidebar css*/

GtkListBox {
    background-color: @fg-color;
}

GtkListBoxRow {
    border: 0.1px solid @menu_separator;
}

.sidebar-title {
    font-family: Open Sans Light;
    font-weight: bold;
    font-size: 10px;
}

.sidebar-summary {
    font-family: Open Sans Light;
    font-size: 10px;
}

.sidebar-date {
    font-family: Open Sans Light;
    font-size: 9px;
}

.header-right {
	border-top-left-radius: 0;
}

.header-left {
	border-top-right-radius: 0;
}

.pane-separator {
    border-radius: 0;
	border-width: 0 1px 1px 0;
}

/* Removes some styling on List Box Rows */
GtkListBoxRow.button {
	padding: 2px 4px 2px 2px;
}

GtkListBoxRow .priority-box {
    /* Somehow make lighter colors more visible */
}

GtkListBoxRow .content-box GtkLabel {

    padding: 0px 4px 1px 4px;
}

.priority-critical {
    background: #ff2626;
}

.priority-high {
    background: #ffa100;
}

.priority-medium {
    background: #f2ff00;
}

.priority-low {
    background: #b6ff4e;
}

.priority-none {
    background: none;
}

GtkListBox > .popover-notebook-row {
    padding: 6px;
}
